
.icon {
  /* position: absolute;
  top: 13px;
  left: 46px; */
  font-size: 27px !important;
  margin-right: 1rem;
}

.box {
  height: 140px;
  /* border-radius: 5px; */
  border: 2px solid var(--primary);
  cursor: pointer;
  padding: 5px;
}

.mfa_active {
  background: #f8fffd;
  border: 2px solid #10bc83;
}

.setup {
  position: absolute;
  bottom: 0;
  color:var(--primary);
  display: none;
  left: 40%;
}

.box:hover .setup {
  display: inline;
}

.trusted-title {
  font-size: 15px;
  margin-top: 7px;
  display: inline;
}




#employee_img {
  object-fit: cover;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

.head {
  clip-path: polygon(0 8%, 80% 8%, 100% 100%, 0% 100%);
  background: #00517cf5;
  color: #fff;
  width: 500px;
}

.profile-pic {
  max-width: 200px;
  max-height: 200px;
  display: block;
}

.file-upload {
  display: none;
}

.circle {
  border-radius: 1000px !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 8px solid rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 72px;
}

img {
  max-width: 100%;
  height: auto;
}

.p-image {
  position: absolute;
  top: 167px;
  right: 30px;
  color: #666666;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.p-image:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}

.media_btn {
  width: 60px;
  height: 60px !important;
  position: absolute;
  top: 76px;
  border-radius: 50%;
  z-index: 1;
  left: 295px;
}

@media only screen and (max-width: 575px) {
  .media_btn {
    position: fixed;
    top: 78%;
    left: 79%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .media_btn {
    position: fixed;
    top: 12%;
    left: 88%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .media_btn {
    position: fixed;
    top: 12%;
    left: 89%;
  }
}

.custom-input-div {
  display: flex;
}
